.inline {
  display: inline-block;
}
img {
  vertical-align: bottom;
  /* fix bug in adding 4px to table */
}
.text-length-limit {
  -o-text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
}
.float-right {
  float: right;
}
.progress-bar {
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #eee;
  border-radius: 2px;
}
.progress-bar .bar {
  display: block;
  background-color: #fff0a5;
  width: 0%;
  height: 4px;
}
.progress-bar .slider {
  display: block;
  position: relative;
  background-color: grey;
  left: 0%;
  height: 6px;
  width: 2px;
  margin-top: -5px;
}
@keyframes kf-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.loading-spinner {
  display: table;
  text-align: center;
  font-size: 36px;
  width: 100%;
  height: 100%;
}
.loading-spinner .fa-spinner {
  display: table-cell;
  vertical-align: middle;
  animation: kf-spin 2s infinite linear;
}
.tab-navigators {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
  -webkit-margin-start: 0;
  -webkit-padding-start: 0;
  list-style: none;
  text-align: center;
}
.tab-navigator {
  /*float: left;*/
  border-top: 2px solid white;
  list-style: none;
}
.tab-navigator:hover {
  border-top: 2px solid #fff0a5;
}
.tab-navigator.selected {
  border-top: 2px solid #ffb03b;
}
.tab-content {
  display: none;
}
.tab-content.selected {
  display: block;
}
html,
body {
  font: 12px Helvetica, Arial, sans-serif;
  /*from douban.com*/
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
#app {
  /*-webkit-app-region: drag;*/
  /*border-radius: 2px;*/
  /*border: 1px solid lightgrey;*/
  /*bottom: 0;*/
  /*height: 100%;*/
  /*margin: 0 auto;*/
  /*top: 0;*/
  background-color: white;
  color: grey;
  height: 100vh;
  min-height: 480px;
  min-width: 640px;
  overflow: hidden;
}
#player {
  /*margin-bottom: -1px; [> conflict with app border <]*/
  border-bottom: 1px solid lightgrey;
  border-spacing: 0;
  color: grey;
  table-layout: fixed;
  width: 100%;
}
#player .album-cover {
  padding: 0 10px 0 0;
  width: 80px;
}
#player .album-cover img {
  border-right: 3px solid lightgrey;
  height: 80px;
  width: 80px;
}
#player .album-cover img:hover {
  border-right: 3px solid #468966;
}
#player .album-cover img,
#player .user-info img.avatar {
  border: 2px solid lightgrey;
  cursor: pointer;
}
#player .album-cover img:hover,
#player .user-info img.avatar:hover {
  border: 2px solid #468966;
}
#player .album-info {
  font-size: 12px;
}
#player .artist-name,
#player .music-title,
#player .album-title,
#player #user-name {
  cursor: pointer;
}
#player .artist-name:hover,
#player .music-title:hover,
#player .album-title:hover,
#player #user-name:hover {
  background-color: #468966;
  color: white;
}
#player .song-info {
  color: #666;
  font-size: 20px;
}
#player .music-title {
  max-width: 96%;
}
#player .music-progress {
  margin-top: -15px;
}
#player .music-progress progress {
  height: 3px;
}
#player .music-progress .time-left {
  float: right;
  font-size: 12px;
  margin-bottom: -8px;
}
#player .control-group {
  -webkit-user-select: none;
  font-size: 25px;
  margin-top: -5px;
}
#player .control-group .music-control {
  cursor: pointer;
}
#player .control-group .music-control span {
  width: 45px;
}
#player .control-group .music-control span:hover {
  color: #ffb03b;
}
#player .control-group .music-control #btn-like:hover {
  color: #b64926;
}
#player .control-group .music-control #btn-like.is-liked {
  color: #b64926;
}
#player .control-group .music-control #btn-like.is-liked:hover {
  color: #fff0a5;
}
#player .control-group .music-control #btn-ban:hover {
  color: #8e2800;
}
#player .control-group .music-control #btn-lyrics {
  display: inline-block;
  font-weight: bold;
}
#player .control-group .music-control #btn-lyrics:hover {
  color: #468966;
}
#player .control-group .music-control #btn-detail:hover {
  color: #468966;
}
#player .volume-progress {
  width: 80px;
}
#player .volume-control {
  float: right;
  font-size: 16px;
  margin: 4px -1px 0 0;
}
#player .user-info {
  padding: 5px;
  text-align: center;
  width: 55px;
}
#player .user-info img.avatar {
  border-radius: 24.5px;
  height: 45px;
  width: 45px;
}
#player #user-name {
  margin: 3px 0 -3px 0;
  max-width: 65px;
  text-align: center;
}
/*@detail-height: 480px;*/
#detail {
  /*height: @detail-height;*/
  width: 100%;
}
#detail .tab {
  width: 100%;
}
#detail .tab-navigators {
  /*border-bottom: 1px solid lightgrey;*/
}
#detail .tab-navigator {
  /*border-top-color: lightgrey;*/
  /*border-top-width: 3px;*/
  background-color: lightgrey;
  border-top: none;
  cursor: pointer;
  padding: 3px;
  width: 25%;
}
#detail .tab-navigator:hover {
  color: #468966;
  font-weight: bold;
}
#detail .tab-navigator.selected {
  /*border-top-color: white;*/
  background-color: white;
  color: #468966;
  font-weight: bold;
}
#floating {
  background-color: white;
  box-shadow: 0px 0px 15px 1px grey;
  bottom: 5px;
  border-radius: 3px;
  left: 5px;
  position: absolute;
  right: 5px;
  top: 64px;
  padding: 5px;
  transform: translate(-110%, 0);
  transition: all 0.5s;
  z-index: 99;
}
#floating.show {
  transform: translate(0, 0);
}
#floating .floating-header {
  color: #468966;
  font-size: 16px;
  text-align: center;
}
#floating .floating-title {
  font-weight: bold;
}
#floating .floating-body {
  bottom: 5px;
  left: 5px;
  position: absolute;
  right: 5px;
  top: 24px;
}
#floating .fa-close {
  cursor: pointer;
  color: grey;
}
#floating .fa-close:hover {
  color: #8e2800;
}
